.contenedor{
   
    width: 500px;
    height: 500px;
    display:inline;
    
}
.derecha{
    
    width: 50%;
    height: 100%;
    background-image: url("fotocarnetny.png");
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    
}
.izquierda{
    
    width: 50%;
    height: 100%;
    background-image: url("fotocarnetny.png");
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    
}