body{
    background-color: white;
}
.marco{
    border: 2px solid black;
    height: 98vh;
    margin: 10px;
}

.titulo{
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    margin: 20%;
    
}

.animacion{
    color: black;
    position: relative;

}

.animacion::after{
    content: "";
    width: 100%;
    height: 100%;
    border-left: 2px solid black;
    background-color: white;
    position: absolute;
    right: 0;
    animation: animacion 4s 1 steps(14);
    animation-fill-mode: forwards;
    
    
}

@keyframes animacion {
    0%{ left: 0;

    }
    100%{
        left: 100%;

    }
}

.acercademi{
    position: relative;
    background-color: black;
    width: 200px;
    height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 30px;;
    left: 0;
    
    
    
}
a:link, a:visited, a:active{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.acercademi:hover {
    background-color:purple;
}
.puntero{
    width: 20px;
    height: 20px;
    opacity: 0;
    animation-name: puntero;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 12s;
    position: absolute;
    bottom: 0;
    right: 0 ;
    transform: rotate(-10deg);

}
@keyframes puntero {
    0%{ opacity: 0;

    }
    100%{
       opacity: 100%;
    }
}

.contacto{
    background-color: black;
    width: 200px;
    height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 30px;;
    right: 0;
    
    
}
a:link, a:visited, a:active{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.contacto:hover {
    background-color:purple;
}
    
    
.img {
width: 250px;
height: 250px;
position: relative;
}

.ai{
    position: absolute;
    animation-name: ai;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 5s;
    width: 0;
    height: 0;
}

@keyframes ai {
    0%{ left:0;
        bottom: 0;
    }
    100%{ left: 5%;
        bottom: 11%;
        width: 250px;
        height: 250px;
    }
}
.html{
    position: absolute;
    animation-name: html;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 6s;
    width: 0;
    height: 0;
}

@keyframes html {
    0%{ left:0;
        bottom: 0;
    }
    100%{ left: 20%;
        bottom: 0%;
        width: 250px;
        height: 250px;
    }
}
.css{
    position: absolute;
    animation-name: css;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 7s;
    width: 0;
    height: 0;
}

@keyframes css {
    0%{ left:0;
        bottom: 0;
    }
    100%{ left: 40%;
        bottom: 10%;
        width: 250px;
        height: 250px;
    }
}
.js{
    position: absolute;
    animation-name: js;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 8s;
    width: 0;
    height: 0;
}

@keyframes js {
    0%{ left:0;
        bottom: 0;
    }
    100%{ left: 60%;
        bottom: 0%;
        width: 250px;
        height: 250px;
    }
}
.ps{
    position: absolute;
    animation-name: ps;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 8s;
    width: 0;
    height: 0;
}

@keyframes ps {
    0%{
        left:0;
        bottom: 0;
    }
    100%{ left: 78%;
        bottom: 10%;
        width: 250px;
        height: 250px;
    }
}
/*.blanco{
    position: absolute;
    left:0;
    bottom:-10;
    background-color: white;
    width: 250px;
    height: 250px;

}/*

/* PAGINA ACERCA DE MI*/
.titulo2{
    color: purple;
    text-transform: uppercase;
    font-size: 50px;
    border: 2px solid black;
    height: 300px;
    padding: 10px;
    justify-content: center;
    align-content: center;
    
}
.p{
    background-color: purple;
    color: white;
    height: 300px;
    border: 2px solid black;
    width: 100vw;
    padding: 10px;
}
.contenedor_demi{
    margin: 120px 20px;
    display: flex;
    flex-direction: row;
    
    
}
.demi{
    justify-content: center;
}
.contenedor_educ{
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
}